// layout-color
$primary : #81d4fa;
$primary-l : #b6ffff;
$primary-d : #4ba3c7;

$maincolor-1 : #2BAE66;
$maincolor-2 : #FCF6F5;

// font-color
$main-font : #37474f;
$active-font : #778f9b;
$strong-font:#ef534e;

// #80f37e : #7f0881