@import './base/nomalize';
@import './base/reset';
@import './base/colors';
@import './base/fonts';

@import './mixin/flexbox.scss';

@media screen and (min-width: 768px) {
  .text-box {
    .text {
      font-size: 2rem;
    }
    .blink {
      font-size: 1rem;
    }
  }

  .project {
    // display: flex;
    // justify-content: space-evenly;

    .project-box {
      @include flexbox(start);
      
      .portfolio-list {
        text-align: center;

        img {
          width: 500px;
          height: 500px;
        }
      }

      .project-text {
        // margin: 0;
      }
    }
  }
}